$padding: 8px;
$margin: 8px;
$radius: 4px;
$cl: #1D0772;
$bg: #FFEECC;
$bg1: #aa9966;
$info-light: #888;
$hexagon-size: 40px;
$mech-size: 30px;
$mech-size-sm: $mech-size*0.7;

$mech-size-half-screen: 24px;
$mech-size-half-screen-sm: $mech-size-half-screen*0.8;

$mech-size-phone: 20px;
$mech-size-phone-sm: $mech-size-phone*0.7;
